*.pyc
__pycache__/*
**/__pycache__/*
**/slurm*.out
wandb/*
settings.json
**/logs/**
**/slurm/wandb/*
**/slurm/wandb
**/slurm_err/*
**/slurm_out/*
**/.ipynb_checkpoints/**
**/slurm_err/**
**/slurm_out/**
**/ckpts/**
**/*exploration*.ipynb
**/*.ckpt
**/*.pth
**/*.pdf
**/.vscode
